/* chat.css */


body {
  font-family: 'Calibre', sans-serif;
  background-color: #121212; /* Dark background */
  color: white;
  margin: 0;
  padding: 0;
}

#chat-container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #202124; /* Slightly lighter dark shade for the container */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow */
}

#chat-box {
  height: 500px;
  overflow-y: auto;
  background-color: #121212; /* Same as body for seamless design */
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 17px;
}

#message-input {
  width: calc(100% - 80px); /* Adjust the width calculation to leave space for the send button */
  padding: 12px 5px 5px 15px; /* Adjust bottom padding if necessary */
  line-height: normal; /* Adjust line height if necessary */  
  margin: 0 10px 15px 0; /* Adjust margins to fit the send button */
  background-color: #303134;
  border: 1px solid #5f6368;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  overflow: hidden;
  resize: none;
  height: 45px; /* Set to your preferred default height */
  box-sizing: border-box;
  position: relative; /* Ensure positioning is relative to the container */
  margin-right: 18px;
  font-family: 'Calibre', sans-serif;
}

#message-input::placeholder {
  color: #888; /* Adjust the placeholder color if needed */
  opacity: 1;
}

#send-button {
  width: 90px;
  padding: 10px 15px;
  background-color: #1a73e8; /* Google blue for the button */
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s; /* Transition for hover effect */
  font-size: 15px;
  margin-left: auto;
}

#send-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#clipboard-button {
  position: absolute;
  top: 10px;
  right: 10px;
  /* Add your desired styling for the button */
  padding: 5px; /* Increase padding */
  font-size: 22px; /* Increase font size */
  background-color: #cacdd5;
  width: 50px;
  height: 50px;
}

#clipboard-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#file-input {
  display: none;
}

#export-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px; /* Increase padding */
  font-size: 22px; /* Increase font size */
  background-color: #acafb5;
  width: 50px;
  height: 50px;
}

#export-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#model-selector-container {
  text-align: center; /* Center align the container */
  padding: 6px; /* Add some padding */
  margin-bottom: 4px; /* Space before the chat container */
}

#model-selector {
  padding: 10px; /* Padding inside the selector */
  border-radius: 5px; /* Rounded corners */
  background-color: #303134; /* Background color */
  color: white; /* Text color */
  border: 1px solid #5f6368; /* Border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  cursor: pointer; /* Cursor type */
  font-size: 16px; /* Text size */
  font-family: 'Courier New', Courier, monospace;
}

#model-selector:hover {
  background-color: #404245; /* Background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #303134;
  color: white;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  font-size: 16px;
}


#selected-model {
  text-align: center;
  cursor: pointer;
}

#mode-selector {
  text-align: center; /* Center align the container */
  padding: 6px; /* Add some padding */
  padding: 10px; /* Padding inside the selector */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #5f6368; /* Border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  align-content: center; /* Center align the container */
  display: block; /* Ensure it's a block-level element */
  width: 15%; /* Or any specific width */
  margin-left: auto;
  margin-right: auto;
}

#edit-instructions-btn {
  text-align: center; /* Center align the container */
  padding: 6px; /* Add some padding */
  margin-bottom: 70px; /* Space before the chat container */
  padding: 10px; /* Padding inside the selector */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #5f6368; /* Border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  align-content: center; /* Center align the container */
  display: block; /* Ensure it's a block-level element */
  width: 12%; /* Or any specific width */
  margin-left: auto;
  margin-right: auto;
}

#edit-instructions-container {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  font-family: 'Roboto', sans-serif; /* Roboto font */
  text-align: center; /* Center align content */
  width: 80%; /* Set a width for the container */
  margin: 20px auto; /* Center the container on the page with margin */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
}

#edit-instructions-container textarea {
  width: calc(100% - 20px); /* Full width of the container minus padding */
  height: 350px; /* Fixed height for the textarea */
  margin: 10px; /* Margin around the textarea */
  padding: 10px; /* Padding inside the textarea */
  background-color: #121212; /* Slightly lighter black for contrast */
  color: #fff; /* White text */
  border: 1px solid #5f6368; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#edit-instructions-container button {
  display: block; /* Block level for stacking */
  margin: 10px auto; /* Center the button horizontally */
  padding: 10px 20px; /* Padding inside the button */
  font-family: 'Roboto', sans-serif; /* Roboto font */
  text-transform: uppercase; /* Uppercase text */
  color: #fff; /* White text */
  background-color: #1a73e8; /* Blue background for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: background-color 0.3s; /* Transition for the button background */
}

#edit-instructions-container button:hover {
  background-color: #357ae8; /* Darker blue on hover */
}

#edit-env-btn {
  text-align: center; /* Center align the container */
  padding: 6px; /* Add some padding */
  margin-bottom: 70px; /* Space before the chat container */
  padding: 10px; /* Padding inside the selector */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #5f6368; /* Border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  align-content: center; /* Center align the container */
  display: block; /* Ensure it's a block-level element */
  width: 12%; /* Or any specific width */
  margin-left: auto;
  margin-right: auto;
}

#edit-env-container {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  font-family: 'Roboto', sans-serif; /* Roboto font */
  text-align: center; /* Center align content */
  width: 80%; /* Set a width for the container */
  margin: 20px auto; /* Center the container on the page with margin */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
}

#edit-env-container textarea {
  width: calc(100% - 20px); /* Full width of the container minus padding */
  height: 350px; /* Fixed height for the textarea */
  margin: 10px; /* Margin around the textarea */
  padding: 10px; /* Padding inside the textarea */
  background-color: #121212; /* Slightly lighter black for contrast */
  color: #fff; /* White text */
  border: 1px solid #5f6368; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#edit-env-container button {
  display: block; /* Block level for stacking */
  margin: 10px auto; /* Center the button horizontally */
  padding: 10px 20px; /* Padding inside the button */
  font-family: 'Roboto', sans-serif; /* Roboto font */
  text-transform: uppercase; /* Uppercase text */
  color: #fff; /* White text */
  background-color: #1a73e8; /* Blue background for the button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: background-color 0.3s; /* Transition for the button background */
}

#edit-env-container button:hover {
  background-color: #357ae8; /* Darker blue on hover */
}

.select-options {
  display: none;
  position: absolute;
  background-color: #404245;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  z-index: 600;
  width: 150px; /* Make the dropdown wider than the button */
  align-self: center;
  width: 12%; /* Adjusted to match the width of the parent */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Shift to the left by half of its own width */
  font-size: 16px;
}

.select-options button {
  background-color: #303134;
  display: inline;
  position: relative;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-bottom: 2px; /* Adjusted for spacing */
}

.select-options button:hover {
  background-color: #505355;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #303134;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  z-index: 500;
}


#voice-button {
  padding: 10px 15px;
  background-color: #1a73e8; /* Similar style as send button */
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s; /* Transition for hover effect */
  font-size: 18px; /* Text size */
  position: absolute;
}

#voice-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#voice-indicator {
  display: none; /* Hidden by default */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #4caf50; /* Green background for visibility */
  color: white;
  transition: background-color 0.3s;
}

.voice-active {
  background-color: #4caf50; /* Green background for active mode */
  color: white;
}

.copy-btn {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.message {
  background-color: #1a73e8; /* Using the button color to differentiate */
  color: white;
  padding: 10px 15px;
  margin: 5px 0 10px auto; /* Adjusted margin */
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  text-align: left;
}

.message.response {
  background-color: #303134; /* Matching input field background */
  color: white;
  padding: 10px 15px;
  margin: 5px auto 10px 0; /* Adjusted margin to align left */
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  text-align: left;
}


.message span {
  display: block; /* Make the span a block element to allow for margins */
  margin-bottom: 5px; /* Add space below the message text */
}

.message.error {
  color: #e66767; /* Error color */
}

.message p {
  margin: 0.5em 0; /* Adjust paragraph margins within messages */
}

.message ul, .message ol {
  padding-left: 20px; /* Indentation for lists */
  margin: 0.5em 0; /* Margin around lists */
}

.message li {
  margin: 0.25em 0; /* Margin for list items */
}

.message h1, .message h2, .message h3 {
  margin: 0.75em 0; /* Margin for headers */
  font-weight: bold;
}

.message strong {
  font-weight: bold;
}

/* Ensure new lines (<br>) don't add excessive space */
.message br {
  margin: 0;
  line-height: normal;
}

#upload-status {
  color: green; /* Green color for successful upload indication */
  font-size: 15px; /* Slightly smaller font size */
  text-align: center; /* Center align the message */
  margin-top: 15px;
  margin-bottom: 5px;
}

/* Styles for the hidden sidebar */
#sidebar {
  display: none;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2c2c2c; /* Dark mode background */
  color: #fff; /* Dark mode text color */
  overflow-x: auto;
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  padding-top: 10px;
  transition: 0.3s;
  z-index: 1000; /* Ensure sidebar is above other elements */
}

#sidebar a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
}

#sidebar a:hover {
  background-color: #575757;
}

#toggleArrow {
  position: fixed;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: 0.3s;
  z-index: 1001; /* Ensure arrow is above other elements */
}

#toggleArrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#summariesButton {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  }

#summariesButton:hover {
  background-color: #45a049;
}

#chatList {
  list-style-type: none; /* Remove bullet points */
  font-size: 9px;
}

#chatList li {
  padding: 5px 10px; /* Add some padding to list items */
}

/* Styles for the hidden sidebar */
#promptBar {
  display: none;
  width: 175px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #2c2c2c; /* Dark mode background */
  color: #fff; /* Dark mode text color */
  overflow-x: auto;
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  padding-top: 10px;
  transition: 0.3s;
  z-index: 1000; /* Ensure sidebar is above other elements */
  text-align: right;
}

#promptBar a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
}

#promptBar a:hover {
  background-color: #575757;
}

#toggleRightArrow {
  position: fixed;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: 0.3s;
  z-index: 1001; /* Ensure arrow is above other elements */
}

#toggleRightArrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#promptList {
  list-style-type: none; /* Remove bullet points */
}

#promptList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px; /* Add some padding to list items */
}

#promptList li a {
  flex-grow: 1;
  text-align: left;
}

#promptList li button.copyPromptButton {
  font-size: 12px;
  padding: 2px 5px;
  margin-left: 5px;
}

#custom-tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1002;
  max-width: 200px;
  word-wrap: break-word;
}