/* chat.css */
body {
  font-family: 'Calibre', sans-serif;
  background-color: #121212; /* Dark background */
  color: white;
  margin: 0;
  padding: 0;
}

#chat-container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #202124; /* Slightly lighter dark shade for the container */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow */
}

#chat-box {
  height: 500px;
  overflow-y: auto;
  background-color: #121212; /* Same as body for seamless design */
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 17px;
}

#message-input {
  width: calc(100% - 80px); /* Adjust the width calculation to leave space for the send button */
  padding: 12px 5px 5px 15px; /* Adjust bottom padding if necessary */
  line-height: normal; /* Adjust line height if necessary */  
  margin: 0 10px 15px 0; /* Adjust margins to fit the send button */
  background-color: #303134;
  border: 1px solid #5f6368;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  overflow: hidden;
  resize: none;
  height: 45px; /* Set to your preferred default height */
  box-sizing: border-box;
  position: relative; /* Ensure positioning is relative to the container */
  margin-right: 18px;
  font-family: 'Calibre', sans-serif;
}

#message-input::placeholder {
  color: #888; /* Adjust the placeholder color if needed */
  opacity: 1;
}

#send-button {
  width: 80px;
  padding: 10px 15px;
  background-color: #1a73e8; /* Google blue for the button */
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s; /* Transition for hover effect */
  font-size: 14px;
}

#send-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#clipboard-button {
  position: absolute;
  top: 10px;
  right: 10px;
  /* Add your desired styling for the button */
  padding: 5px; /* Increase padding */
  font-size: 22px; /* Increase font size */
  background-color: #cacdd5;
  width: 50px;
  height: 50px;
}

#clipboard-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#file-input {
  display: none;
}

#export-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px; /* Increase padding */
  font-size: 22px; /* Increase font size */
  background-color: #acafb5;
  width: 50px;
  height: 50px;
}

#export-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#model-selector-container {
  text-align: center; /* Center align the container */
  padding: 6px; /* Add some padding */
  margin-bottom: 4px; /* Space before the chat container */
}

#model-selector {
  padding: 10px; /* Padding inside the selector */
  border-radius: 5px; /* Rounded corners */
  background-color: #303134; /* Background color */
  color: white; /* Text color */
  border: 1px solid #5f6368; /* Border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect */
  cursor: pointer; /* Cursor type */
  font-size: 16px; /* Text size */
  font-family: 'Courier New', Courier, monospace;
}

#model-selector:hover {
  background-color: #404245; /* Background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #303134;
  color: white;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  font-size: 16px;
}


#selected-model {
  text-align: center;
  cursor: pointer;
}

.select-options {
  display: none;
  position: absolute;
  background-color: #404245;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  z-index: 600;
  width: 150px; /* Make the dropdown wider than the button */
  align-self: center;
  width: 12%; /* Adjusted to match the width of the parent */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Shift to the left by half of its own width */
  font-size: 16px;
}

.select-options button {
  background-color: #303134;
  display: inline;
  position: relative;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-bottom: 2px; /* Adjusted for spacing */
}

.select-options button:hover {
  background-color: #505355;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #303134;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  z-index: 500;
}


#voice-button {
  padding: 10px 15px;
  background-color: #1a73e8; /* Similar style as send button */
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s; /* Transition for hover effect */
  font-size: 18px; /* Text size */
  position: absolute;
}

#voice-button:hover {
  background-color: #1669c2; /* Darker shade on hover */
}

#voice-indicator {
  display: none; /* Hidden by default */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #4caf50; /* Green background for visibility */
  color: white;
  transition: background-color 0.3s;
}

.voice-active {
  background-color: #4caf50; /* Green background for active mode */
  color: white;
}

.message {
  background-color: #303134; /* Matching input field background */
  color: white;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  margin-bottom: 10px; /* Add space below each message */
}

.message span {
  display: block; /* Make the span a block element to allow for margins */
  margin-bottom: 5px; /* Add space below the message text */
}

.copy-btn {
  font-size: 15px;
}

.message.response {
  margin-left: auto; /* Align responses to the right */
  background-color: #1a73e8; /* Using the button color to differentiate */
}

.message.error {
  color: #e66767; /* Error color */
}
